#navbar {
  background: none !important;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: relative !important;
}

.login-form {
  /* padding: 0px; */
  border-radius: 6px 6px 6px 6px;
  border: none;
  background: #f5f5f5;
  background-color: #f5f5f5; /* Background color */
  border: 1px solid #ddd; /* Border around the form */
  padding: 20px; /* Padding around the form */
  border-radius: 5px; /* Rounded corners */
  height: 70%;
  margin-top: 30px;
  padding-right: 30px;

}

 .card:hover {
  box-shadow: 0 0 20px rgba(24, 174, 223, 0.6);
  transition: box-shadow 0.3s;
}

li {
  list-style-type: none;
  padding: 0px;
}

h4, h2 {
  padding-top: 20px;
  font-size: large;
  font-weight: bold;
  color: black;
}
p {
  color: black;
}

.dotted-list li {
  border-bottom: 1px dotted #ccc; /* Add a dotted line at the bottom of each list item */
  padding-bottom: 10px; /* Adjust as needed to control the space between the line and content */
   /* Adjust as needed to control the space between list items */
}
.aucformTitle {
  background-color: #4caf50; /* Green background color */
  color: #fff; /* White text color */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px; /* Add margin to the bottom of h3 */
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 20px !important;
  font-weight: 400;
  line-height: 1;
  color: #fff !important;
  text-align: center;
  background-color: #18aedf !important;
  border: 1px solid #18aedf !important;
  border-radius: 4px 0 0 4px !important;
}
