<div class="container mt-4">
  <div class="row">
      <div class="col-md-6">
          <img src="assets/images/bu.png" class="img-fluid" alt="Your Image">
          <div class="col-md-12 col-xs-12 col-sm-12 res3">
    <ul class="sellCarInfolist dotted-list">

       <li>
         <div>
           <h4>Genuine Buyers</h4>
           <p>We let the buyers get in touch with you directly</p>
         </div>
       </li>

       <br>
       <li>
         <div >
           <h2>Your Homes/Rentals stays listed till the Building Materials is sold</h2>
         </div>
       </li>
     </ul>
                </div>
      </div>
      <div class="card col-md-6 login-form">
          <h3 class="aucformTitle text-center">FORGOT PASSWORD</h3>
          <div class="text-center">
            <a style="cursor: pointer;" routerLink="/login">
              <i class="fa fa-arrow-left"></i> Go Back
            </a>
          </div>
          <form [formGroup]="formData" (ngSubmit)="forgotPassword()">

            <div class="aucformFieldsBox col-md-12 col-xs-12" style=" padding: 0 0;">
              <div class="col-md-12 col-sm-12">
              <label style="width: 100%;font-size: 17px;color: #020202; font-family: sans-serif;">Email/Mobile<span style="color: red">*</span></label>
            <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" type="text" placeholder="Enter Email Address" name="email" formControlName="email" required>
              </div>
              </div>
            </div>

            <div class="aucformFieldsBox col-md-12 col-xs-12" style="margin: 13px 0; padding: 0 0;">
              <div class="col-md-12 col-sm-12">
              <label style="width: 100%;font-size: 17px;color: #020202; font-family: sans-serif;">New Password<span style="color: red">*</span></label>
            <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" type="text" placeholder="Enter New Password" name="newpassword" formControlName="newpassword" required>
              </div>
              </div>
            </div>

             <div class="aucformFieldsBox col-md-12 col-xs-12">
              <div class="col-md-12 col-xs-12 text-center">
              <br>

              </div>


            </div>
            <div class="aucformFieldsBox col-md-12 col-xs-12 text-center">
              <h4>
                <button class="btn btn-primary" type="submit" (click)="forgotPassword()">FORGOT PASSWORD</button>
              </h4>
            </div>

              <!-- <button class="btn btn-primary"  type="submit">Submit</button> -->
          </form>

      </div>
  </div>
</div>



