
<div class="container mt-4 d-flex justify-content-center">


  <div class="col-md-7 login-form card">
          <div class="auctionFormRight" style="margin-top: 0px;">
              <h3 class="aucformTitle text-center">Update Assets For Your Home Services</h3>
              <form [formGroup]="editAssetsForm" (ngSubmit)="editAssetsSubmit()">


                  <!-- Assets Category -->
                  <div class="form-group row mb-3">
                    <label for="assetsCategory" class="col-md-2 control-label" style="font-size: 17px; color: #020202; font-family: sans-serif;">Assets Category</label>
                    <div class="col-md-10">
                        <select class="form-control" name="assetsCategory" formControlName="assetsCategory" >
                            <option value="" disabled selected>Select Assets Category</option>
                            <option value="Residence">Residence</option>
                            <option value="Hotel">Hotel</option>
                            <option value="Apartment">Apartment</option>
                        </select>
                    </div>
                </div>

                <!-- Assets Sub-Category -->
                <div class="form-group row mb-3">
                  <label for="assetsSubCategory" class="col-md-2 control-label" style="font-size: 17px; color: #020202; font-family: sans-serif;">Assets Sub-Category</label>
                  <div class="col-md-10">
                      <select class="form-control" name="assetsSubCategory" formControlName="assetsSubCategory">
                          <option value="" disabled selected>Select Assets Sub-Category</option>
                          <option value="Residence">Residence</option>
                          <option value="Hotel">Hotel</option>
                          <option value="Apartment">Apartment</option>
                      </select>
                  </div>
              </div>



                  <!-- Location Field -->

                  <div class="form-group row mb-3">
                      <label for="city" class="col-md-2 control-label" style="font-size: 17px; color: #020202; font-family: sans-serif;">Location</label>
                      <div class="col-md-10">
                          <input type="text" class="form-control" name="location" placeholder="Enter Your Location" required formControlName="location">
                      </div>
                  </div>

                  <!-- Street Field -->

                  <div class="form-group row mb-3">
                      <label for="state" class="col-md-2 control-label" style="font-size: 17px; color: #020202; font-family: sans-serif;">Street</label>
                      <div class="col-md-10">
                          <input type="text" class="form-control" name="state" placeholder="Enter Your Street" required formControlName="street">
                      </div>
                  </div>

                  <!-- Door No Field -->

                  <div class="form-group row mb-3">
                      <label for="district" class="col-md-2 control-label" style="font-size: 17px; color: #020202; font-family: sans-serif;">Door Number</label>
                      <div class="col-md-10">
                          <input type="text" class="form-control" name="doornumber" placeholder="Enter Your Door Number" required formControlName="doornumber">
                      </div>
                  </div>

                  <!-- Town field-->
                  <div class="form-group row mb-3">
                    <label for="district" class="col-md-2 control-label" style="font-size: 17px; color: #020202; font-family: sans-serif;">Town</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="town" placeholder="Enter Your Town" required formControlName="town">
                    </div>
                  </div>
                  <!-- District field -->
                  <div class="form-group row mb-3">
                    <label for="district" class="col-md-2 control-label" style="font-size: 17px; color: #020202; font-family: sans-serif;">District</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="district" placeholder="Enter Your District" required formControlName="district">
                    </div>
                  </div>
                <!-- State field -->
                  <div class="form-group row mb-3">
                    <label for="district" class="col-md-2 control-label" style="font-size: 17px; color: #020202; font-family: sans-serif;">State</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="state" placeholder="Enter Your State" required formControlName="state">
                    </div>
                  </div>

                  <!-- Pincode field -->
                  <div class="form-group row mb-3">
                    <label for="district" class="col-md-2 control-label" style="font-size: 17px; color: #020202; font-family: sans-serif;">Pincode</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="pincode" placeholder="Enter Your Pincode" required formControlName="pincode">
                    </div>
                  </div>


                      <div class="col-md-10 offset-md-2 d-flex justify-content-center">
                          <button type="submit" class="btn btn-primary" style="width: 120px; background-color: #18aedf; color: white; font-size: 17px;">Update</button>
                      </div>

              </form>
          </div>
  </div>
</div>

