.container {
  width: 100%;
  height: 100%;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.chart-area {
  position: relative;
  height: 10rem;
  width: 100%;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}
.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}
.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}
.border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}
.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}

.earnings {
  font-weight: 700 !important;
  text-transform: capitalize !important;
  font-size: .7rem;
  color:#4e73df ;
  margin-bottom: 0.25rem;
}
.icon-calender {
  font-size:2em;
  color: #dddfeb;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.85rem;
  color: #858796;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.text-gray-100 {
  color: #f8f9fc !important;
}

.text-gray-200 {
  color: #eaecf4 !important;
}

 .text-gray-300 {
  color: #dddfeb !important;
}

.text-gray-400 {
  color: #d1d3e2 !important;
}

.text-gray-500 {
  color: #b7b9cc !important;
}

.text-gray-600 {
  color: #858796 !important;
}

.text-gray-700 {
  color: #6e707e !important;
}

.text-gray-800 {
  color: #5a5c69 !important;
}

.text-gray-900 {
  color: #3a3b45 !important;
}

@media (min-width: 768px) {
  .chart-area {
    height: 20rem;
  }
}
.chart-pie {
  position: relative;
  height: 15rem;
  width: 100%;
}
.text-center {
  text-align: center !important;
}

@media (min-width: 768px) {
  .chart-pie {
    height: calc(20rem - 43px) !important;
  }
}
